# env example

# 数据库配置
DB_LOGGER=dbLogger
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=bbs
DB_USERNAME=bbs
DB_PASSWORD=bbs

# Redis配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# 事件监听配置
EVENT_LISTEN_DISABLE_MULTI_WORKERS=0
EVENT_LISTEN_MAX_EVENT_NUM=1000